<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{{ title if title else "Лабораторная работа №3" }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    </head>

    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('index') }}">Главная страница</a>
                    </li>
                    <li>
                        <a href="{{ url_for('counter') }}">Счетчик посещений</a>
                    </li>
                    <li>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('profile', id=current_user.id) }}">Профиль</a>
                        {% else %}
                            <a href="{{ url_for('login') }}">Авторизация</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% for category, message in get_flashed_messages(with_categories=True) %}
                <div class="message {{ category }}">{{ message }}</div>
            {% endfor %}
            <h1>{{ title if title else "Лабораторная работа №2" }}</h1>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            Минчаков Аркадий Сергеевич, группа 221-329
        </footer>
    </body>
</html>